@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html,
body {
  overflow-x: hidden;
}
section div span {
  position: relative;
}

body {
  background-color: black;
  /* min-width: 100vw; */
  /* overflow-x: hidden; */
}
.main {
  background-image: url(assests/images/bg.jpg);
  background-position: center center;
  /* background-size: max(1200px, 100vw); */
  background-repeat: no-repeat;
  /* height: 95vh; */
  /* position: relative; */
  height: 100vh;
}
.main .box {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0.75;
  background-color: black;
}
nav span {
  /* background-color: aqua; */
  max-width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  height: 100px;
}

nav img {
  color: red;
  width: 144px;
  position: relative;
  z-index: 10; /*to make it stand out above all */
}
nav button {
  position: relative;
  z-index: 10;
}
.hero {
  font-family: "Martel Sans", sans-serif;
  color: white;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative; /*isse pop out ho jayega text */

  gap: 23px;
  padding: 0 30px;
}

.hero > :nth-child(1) {
  font-family: "Poppins" sans-serif;
  font-weight: 990;
  /* font-weight: bolder; */
  font-size: 60px;
  text-align: center;
}
.hero > :nth-child(2) {
  font-weight: 950;
  font-size: 50px;
  text-align: center;
  /* padding-bottom: 20px; */
}
.hero > :nth-child(3) {
  font-weight: 520;
  font-size: 20px;
  text-align: center;
  /* padding-bottom: 20px; */
}
.hero > :nth-child(4) {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}
.separation {
  height: 7px;
  background-color: rgb(52, 51, 51);
  position: relative;
  z-index: 10;
}
.btn {
  padding: 5px 10px;
  font-weight: 500;
  background-color: rgba(248, 243, 243, 0.02);
  color: white;
  border: 1px solid rgb(145, 141, 141);
  border-radius: 4px;
  cursor: pointer;
}
.btn-red {
  background-color: rgb(229, 1, 1);
  color: white;
  padding: 10px 30px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  font-weight: 500;
}
.btn-red-sm {
  background-color: rgb(229, 1, 1);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 13px;
  font-weight: 600;
  border: none;
}

.main input {
  padding: 9px 48px;
  background-color: rgba(23, 23, 23, 0.2);
  font-size: 20px;
  border-radius: 4px;
  color: white;
  border: 1px solid rgb(145, 141, 141);
}
.first {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: auto;
  color: white;
}

.secImg {
  position: relative;
}

.secImg img {
  width: 566px;
  position: relative;
  z-index: 10;
}
.secImg video {
  position: absolute;
  top: 99px;
  right: 22px;
}
.second {
  display: flex;
}
section.first > div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}

section.first > div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}

section.first > div :nth-child(2) {
  font-size: 24px;
}
.faq {
  color: white;
  text-align: center;
  padding-top: 50px;
}
.faq h1 {
  font-size: 45px;
}
.faqbox {
  transition: all 1s ease-out;
  line-height: 20px;
  background-color: #2d2d2d;
  padding: 26px;
  max-width: 78vw;
  margin: 8px auto;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.faqbox span {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.faqbox:hover {
  background-color: #525151;
}
.lastmail {
  width: 60vw;
  color: white;
  text-align: center;
  margin: auto;
  padding: 90px;
}
.lastmail div {
  padding: 20px;
  display: flex;
  justify-content: center;
  
}
.lastmail input {
  width: 30vw;padding: 9px 48px;
  background-color: rgba(23, 23, 23, 0.2);
  font-size: 20px;
  border-radius: 4px;
  color: white;
  border: 1px solid rgb(145, 141, 141);
}
footer {
  padding: 90px;
  display: grid;
  grid-template-rows: 30px 30px 30px 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.line {
  color: rgba(255, 255, 255, 0.7);
  padding-top: 40px;
  padding-left: 195px;
}
.line a {
  color: rgba(255, 255, 255, 0.7);
}
ul li {
  list-style: none;
  font-size: 14px;
  cursor: pointer;
  line-height: 38px;
}
ul li a {
  color: rgba(255, 255, 255, 0.7);
}
footer div {
  display: flex;
  justify-content: center;
}
.netflix {
  padding-bottom: 90px;
}
@media screen and (max-width: 1300px) {
  nav {
    display: contents;
    /* max-width: 90vw; */
  }
  .first {
    flex-wrap: wrap;
  }
  .hero > :nth-child(1) {
    font-size: 29px;
  }
  .hero > :nth-child(2) {
    font-size: 29px;
  }
  .hero > :nth-child(3) {
    font-size: 20px;
  }
  .input {
    text-align: center;
  }
  .faq h1 {
    font-size: 24px;
  }
  footer {
    max-width: 90vw;
  }
  section.first > div :nth-child(1) {
    font-size: 40px;
  }
  section.first > div :nth-child(2) {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  .lastmail div {
    flex-direction: column;
    align-items: center;
  }
  .main input {
    padding: 11px 99px;
    width: 140px;
  }
  .lastmail {
    padding: 40px;
    display: grid;
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  nav span {
    max-width: 90vw;
  }
  .lastmail div {
    display: inline-block;
  }
  .faqbox span {
    font-size: 20px;
  }
  .lastmail input {
    width: 46vw;
  }
  .lastmail {
    padding: 40px;
    display: grid;
    justify-content: center;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .line {
    padding-left: 90px;
  }
  .main .box {
    height: 100vh;
  }
}
